@font-face {
    font-family: 'micrograma';
    src: url('/fonts/micro.otf');
  }

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    overflow: hidden;
    font-family: 'micrograma';
}
.logosection{
    height: 100vh;
    perspective: 1000px; 
}

.welcome{
    height: 100vh;
    position: absolute;
    z-index: 2;
    width: 100vw;
    background: #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in 1s;
}

.welcome p{
    font-family: 'Questrial', sans-serif;
    color: white;
    width: 300px;
    text-align: center;
}


.aquadiv{
    background-color:#0098ff;
    display: flex;
    align-items: center;
    
}

.caelidiv{
    background-color: #d8ffcc;
    display: flex;
    align-items: center;
    
}

.ignisdiv{
    background-color: #f91b1b;
    display: flex;
    align-items: center;
    
}

.terradiv{
    background-color: #d87b2a;
    display: flex;
    align-items: center;
    
}

.logo-div{
    
    display: flex;
    justify-content: center;
}

.img-logo{
    transform-style: preserve-3d;
    width: 220px;
    border-radius: 15px;
    
}



.row {
    height: 100vh;
}


#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
    z-index: 4;
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

.boton{
    background-color: transparent;
    border: 3px solid white;
}


footer {
    position: absolute;
    height: 40px;
    width: 100vw;
    bottom: 0;
    z-index: 3;
}

footer p{
    font-size: 12px;
    text-align: center;
}

@media (max-width: 992px) { 
    .img-logo{
        
        width: 160px;
        
        
    }

    footer p{
        font-size: 7px;
        text-align: center;
    }
 }


